.trees-container {
  margin: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tree {
  padding: 2rem 4rem;
  border: 4px solid royalblue;
  border-radius: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  justify-content: space-between;
  row-gap: 1rem;
  align-items: center;

  &__content {
    display: flex;
    column-gap: 2rem;
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 2rem;
  }
}

.form {
  padding: 2rem 4rem;
  border: 2px solid black;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

// MODAL ==============================
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34cc;
}

.edit-form {
  padding: 4rem;
  border: 3px dashed skyblue;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  color: white;
  span,
  input,
  select {
    font-size: 3rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    margin: 1rem;
  }
}
